*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #000;
    --main-bg-color: #fff;
    --bg-color-1: #eee;
    --shadow-color: #e9e9e9;
    --main-pastel: rgb(167, 227, 247);
}

html {
    font-size: 18px;
    height: 100%;
}

body {
    font-family: 'Didact Gothic', sans-serif;    
    font-size: 18px;
    color: var(--main-color);
    line-height: 1.7;
    /* height: 100%; */
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--main-color);
}

h1, h2, h3, h4 {
    font-weight: 300;
    line-height: 1.3;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

/* utility */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: 1fr 2fr;
}

.grid-5 {
    grid-template-columns: 2fr 3fr;
}

.grid-6 {
    grid-template-columns: 3fr 1fr;
}

.grid-7 {
    grid-template-columns: repeat(4, 1fr);
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.box-1 {
    width: 200px;
    height: 200px;
}

.box-2 {
    width: 350px;
    height: 300px;
}

.box-3 {
    width: 220px;
}

.box-4 {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    /* position: absolute; */
    background-color: var(--main-bg-color);
}

.box-5 {
    width: 75%;
    height: 354px;
    background-color: var(--bg-color-1);
    padding: 10px;
}

.box-6 {
    width: 560px;
    height: 200px;
    text-align: center;
    margin-bottom: 80px;
}
.button {
    border-radius: 10px;
    padding: 15px 40px;
    color: var(--main-bg-color);
    background-color: var(--main-color);
    margin: 20px 0;
    border: none;
    min-width: 200px;
    font-size: 1.1rem;
}

/* Header */
.header {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#header-message {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    text-align: center;
    font-size: 0.9rem;
    height: 40px;
    display: inline-block;
    transition: transform 0.5s ease;
    width: 100%;
    padding: 0 auto;
}

/* Navbar */
.navbar {
    height: 100px;
    border-bottom: 1px solid var(--shadow-color);
    position: relative;
    font-weight: 800;
    box-shadow: 0.2px 0.2px var(--shadow-color);
    width: 100%;
    color: var(--main-color);
}

.navbar .flex {
    justify-content: space-around;
}

.navbar ul {
    display: flex;
}

.left-nav ul {
    justify-content: space-between;
}

.header a {
    padding: 20px;
    margin: 0 5px;
}

.header a:hover {
    transform: scale(1.1);
} 

.navbar li {
    transition: transform 0.3s ease;
}

.navbar li:hover {
    transform: scale(1.1);
}

.fa-stack {
    padding: 0 0rem 1rem 3rem;
    display: none;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
}

.fa-stack:hover {
    transform: scale(1.1);
}

/* Logo */
#logo {
    width: 150px;
    min-width: 120px;
    margin: 15px 0 0 0;
}

/* Main */
/* Side Menu */
.side-menu-container {
    position: absolute;
    z-index: 999;
    height: 6310px;
    display: none;
}

.side-menu {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 140px;
    width: 250px;
    padding-bottom: 100px;
}

.side-menu li {
    padding: 1.2rem 0 0 1.5rem;
}


/* Showcase */
.showcase {
    min-height: 620px;
    background-color: var(--bg-color-1);
}

.showcase-text {
   min-height: 620px;
   text-align: right;
   width: 100%;
}

.showcase-text h1 {
    font-size: 2rem;
}

.chair {
    position: relative;
    height: 620px;
    width: 100%;
}
.chair img {
    width: 457px;
    margin-top: 95px;
    position: absolute;
    right: 5%;
}

/* Summary */
.summary {
    height: 340px;
    text-align: center;
}

.summary i {
    padding: 20px;
}

.summary .container {
    max-width: 1100px;
}

.summary-box {
    height: 340px;
}

.summary i {
    color: var(--main-pastel);
}

/* Categories */
.categories {
    width: 100%; 
}

.category {
    width: 100%;
    height: 530px;
    background-color: var(--bg-color-1);
    position: relative;
}

.category img {
    width: 260px;
}

.category p {
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 1.4rem;
}

/* Banner1 */
.banner1 {
    margin-top: 74px;
    display: flex;
    flex-direction: row-reverse;
    
}

.product-container {
    background-color: var(--bg-color-1);
    width: 100%;
    height: 710px;
    margin: 0 auto;
}

.product {
    text-align: center;
}

.banner1 img {
    width: 250px;
}

#baby {
    width: 716px;
}

/* Banner2 */
.banner2 {
    position: relative;
    margin-top: 74px;
    height: 528px;
    overflow: hidden;
}

.banner2 .message {
    position: absolute;
    top: 25%;
    left: 17.33%;
    text-align: center;
}

.banner2 h3 {
    padding: 12px 0;
}

.inner-box {
    padding: 10px;
    border: 1px solid var(--shadow-color);
    height: 250px;
    width: 400px;
    border-radius: 10px;
}

/* Review */
.review {
    height: 520px;
    background-color: var(--main-bg-color);
    font-size: 1.5rem;
    position: relative;
}

.review span {
    font-size: 1.1rem;
}

.review img {
    width: 160px;
    margin: 0;
    padding: 0;
}

.review p {
    padding: 0;
    margin: 0;
}

.left-arrow, .right-arrow {
    background-color: var(--main-color);
    border-radius: 50%;
    color: var(--main-bg-color);
    width: 40px;
    height: 40px;
    position: absolute;
}

.left-arrow {
    left: 5%;
}

.right-arrow {
    right: 5%;
}

.dots {
    display: none;
}

/* Community */
.community {
    margin-top: 50px;
    position: relative;
}

.community::before {
    content: "The 4moms community";
    position: absolute;
    font-size: 1.5rem;
    left: 45%;
    top: -10%;
    text-align: center;
}

.community .plus {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    font-size: 1.7rem;
    position: absolute;
    left: 48%;
    bottom: -10%;
}

/* Stat */
.stat {
    margin-top: 104px;
    text-align: center;
    height: 518px;
    background-color: var(--bg-color-1);
}

.stat h1 {
    font-size: 30px;
}

.column {
    flex-direction: column;
    text-align: center;
    width: 1400px;

}
.description {
    padding: 0 100px;
    width: 640px;
}

.stat .button {
    width: 270px;
}

.icons {
    margin-top: 30px;
    height: 150px;
}

.icon {
    padding: 20px 80px;
}

.icon i {
    padding: 15px;
    color: var(--main-pastel);
}

/* Award */
.awards {
    height: 170px;
}

.award {
    width: 130px;
    margin: 0 20px;
}

/* Footer */
.footer {
    min-height: 423px;
    background: var(--main-color);
    color: var(--main-bg-color);
}

.footer-contact {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    height: 300px;
    min-width: 300px;
    padding: 10px;
}

.footer-categories {
    width: 100%;
    padding: 0 20px;
}

.footer h4 {
    font-weight: 900;
    font-size: 1.2rem;
}

.footer li {
    padding: 7px 0;
    font-size: 16px;
}

.footer .container {
    padding-top: 70px;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.footer img {
    width: 200px;
}

.footer .input {
    background-color:  var(--bg-color-1);
    width: 100%;
    height: 50px;
    justify-content: left;
}

.footer [type=text] {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid var(--main-bg-color);
    
    background-color: var(--main-color);
}

.footer [type=submit] {
    font-size: 1.1rem;
    height: 100%;
    color: var(--main-bg-color);
    background-color: var(--main-color);
    border: none;
    padding: 10px;
    border-bottom: 1px solid var(--main-bg-color);
}

.footer .arrow-submit {
    background-color: var(--main-color);
    /* height: 100%; */
    padding: 10px;
    font-size: 1.7rem;
    vertical-align: center;
    border-bottom: 1px solid var(--main-bg-color);
}

.social i {
    padding-right: 30px;
}

.credit {
    padding: 20px;
    justify-content: left;
}

.credit p {
    padding: 0px 10px;
}

@media (max-width: 1235px) {

    .banner2 {
        grid-template-columns: repeat(1, 1fr);
        min-height: 750px;
    }

    .banner2 img {
        width: 500px;
        justify-self: center;
    }

    .banner2 .message {
        justify-self: center;
        top: 55%;
        left: initial;
    }

    .banner2 img:nth-child(2) {
        display: none;
    }

    .footer-categories {

        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1005px) {

   .fa-stack {
        display: initial;
    }

    .fa-times {
        display: none;
    }
    
    .showcase-container {
        display: initial;
        height: 450px;
    }

    .showcase-text {
        min-height: 380px;
        text-align: center;
    }

    .chair {
        height: 500px;
        position: initial;
        width: 400px;
        padding: 0 auto;
        margin: 0 auto;
    }

    .chair img {
        padding: 0 auto;
        margin: 0 auto;
        position: initial;
    }

    .left-nav {
        /* display: none; */
        visibility: hidden;
        width: 0;
    }

    
    #support, #country {
        display: none;
    }

    #account {
        position: absolute;
        left: 20%;
        /* padding-right: 1rem; */
    }

    .banner1 {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .banner1 img {
        justify-self: center;
    }

    #baby {
        width: 500px;
    }

    .product-container {
        background-color: var(--main-bg-color);
    }
}

@media(max-width: 850px) {
    .categories .container {
        display: initial;
        /* grid-template-columns: repeat(2, 1fr); */
        /* margin: 0 auto; */
    }

    .category {
        margin-bottom: 5px;
    }

    .category p {
        position: initial;
        font-size: 2rem;
    }

    .category p span {
        font-size: 4rem;
        padding: 2rem;
    }

    .category img {
        width: 180px;
    }

    .stat {
        height: 400px;
    }

    .stat .icons {
        display: none;
    }

    .category-container {
        display: initial;
    }

    .footer-contact {
        width: 330px;
        margin: 0 auto;
    }

    .footer-container {
        padding-top: 0;
    }
}

@media (max-width: 625px) {
    #account {
        position: absolute;
        left: 15%;
    }

    .review {
        padding-top: 0px;
    }

    .left-arrow, .right-arrow {
        display: none;
    }

    .box-5 {
        height: 400px;
    }

    .dots {
        display: initial;
    }

    .credit {
        display: initial;
    }
    .footer-categories {
        grid: initial;
    }
}