*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Didact Gothic', sans-serif;    
}

:root {
    --main-color: #000;
    --color1: #777;
    --main-bg-color: #FFFFFF;
    --bg-color-1: #FAFAFA;
    --bg-color-2: #F2F2F2;
    --bg-color-3: #E9E9E9;
    --bg-color-4: #EEEEEE;
    --shadow-color: #e9e9e9;
    --main-pastel: #17A7E0;
}

html {
    font-size: 18px;
    height: 100%;
}

body {
    color: var(--main-color);
    line-height: 1.7;
    height: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--main-color);
}

h1, h2, h3, h4 {
    font-weight: 300;
    line-height: 1.3;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

/* utility */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.hide_display {
    display: none !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: 1fr 2fr;
}

.grid-5 {
    grid-template-columns: 2fr 3fr;
}

.grid-6 {
    grid-template-columns: 3fr 1fr;
}

.grid-7 {
    grid-template-columns: repeat(4, 1fr);
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.box-1 {
    width: 200px;
    height: 230px;
}

.box-2 {
    width: 350px;
    height: 300px;
}

.box-3 {
    width: 220px;
}

.box-4 {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.box-5 {
    width: 75%;
    height: 354px;
    background-color: var(--bg-color-4);
    padding: 10px;
}

.box-6 {
    width: 70%;
    height: 200px;
    text-align: center;
    margin-bottom: 80px;
}

.button {
    border-radius: 10px;
    padding: 15px 40px;
    color: var(--main-bg-color);
    background-color: var(--main-color);
    margin: 20px 0;
    min-width: 200px;
    font-size: 1.1rem;
    border:var(--main-color);
    transition: all 0.25s ease;
}

.button:hover {
    background-color: var(--main-pastel);
    color: var(--main-color);
}

/* Header */
.header {
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}

#header-message {
    background-color: var(--main-color); 
    color: var(--main-bg-color);
    font-size: 0.9rem;
    height: 40px;
    width: 100%;
}

/* Navbar */
.navbar {
    height: 100px;
    border-bottom: 1px solid var(--shadow-color);
    position: relative;
    font-weight: 800;
    box-shadow: 0.2px 0.2px var(--shadow-color);
    width: 100%;
    color: var(--main-color);
}

.navbar .container {
    width: 100%;
}
.navbar ul {
    width: 100%;
}

.left-nav ul {
    justify-content: flex-start;
}

.right-nav ul {
    justify-content: flex-end;
}

.left-nav, .right-nav {
    width: calc(50% - 65px);
}

.navbar li {
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0 2rem;
}

.right-nav li {
    padding: 0 1.2rem;
}

.navbar a {
    transition: all 0.35s ease; 
}
.navbar a:hover {
    opacity: 0.4;
}

#main-menu {
    display: none;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
}

#account2 {
    display: none;
}

#country {
    position: relative;
    max-width: 180px;
    padding-left: 0;
}

#country-label {
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;

}

#country-options {
    position: absolute;
    top: 64px;
    border-top: 2px solid #e9e9e9;
    left: 0;
    background-color: var(--main-bg-color);
    width: 320px;
    border-radius: 0 0 7px 7px;
    height: 99px;
    overflow-y: scroll;
    color: #333;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 1px 4px var(--bg-color-3);
    z-index: 10;
    white-space: nowrap;
}

#country-options li:hover,
#country-options li:focus {
    background-color: black;
    color: white;
}

/* Logo */
#logo {
    min-width: 100px;
    width: 130px;
}

/* Searchbar */
.search-box {
    display: flex;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-bg-color);
}

.search-input-container {
    width: 100%;
    position: relative;
}

#search-icon {
    position: absolute;
    top:50px;
    left:30px;
}

.search-input-container input {
    width: 100%;
    border: none;
    outline: none;
    height: 80px;
    font-size: 1rem;
    padding: 38px 0px 0px 65px;
    background: linear-gradient(#000, #000) center bottom 5px /calc(100% - 60px) 2px no-repeat;
}

#close-icon {
    padding: 1rem;
    cursor: pointer;
}

#close-icon:hover {
    opacity: 0.4;
}

/* Main */
/* Side Menu */
#side-menu-container {
    position: fixed;
    top: 140px;
    z-index: 977;
    height: 100vh;
    background-color: var(--main-bg-color);
}

#side-menu {
    background-color: var(--main-bg-color);
    width: 250px;
    padding-bottom: 100px;
    transition: all 3.35s ease-in-out;
}

#side-menu li {
    padding: 1.2rem 0 0 1.5rem;
    position: relative;
    cursor: pointer;
}

#side-menu li::after {
    content: '>';
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--main-pastel);
    position: absolute;
    top: 12px;
    left: 170px;
    display: none;
}

#side-menu li:focus::after  {
    display: initial;
}

#side-menu li:hover,
#side-menu li:focus {
    color: var(--main-pastel);
}
/* Showcase */
.showcase {
    margin-top: 140px;
    min-height: 620px;
    background-color: var(--bg-color-4);
    width: 100%;
}

.showcase-text {
   min-height: 620px;
   text-align: right;
   width: 100%;
}

.showcase-text h1 {
    font-size: 2rem;
}

.chair {
    position: relative;
    height: 620px;
    width: 100%;
}
.chair img {
    width: 457px;
    margin-top: 95px;
    position: absolute;
    right: 5%;
}

.shop-container {
    width: 100%;
    justify-content: unset;
    align-items: initial;
    background-color: var(--main-bg-color);
    padding: 2rem;
}

#shop-left {
    background-color: var(--main-bg-color);
    width: 250px;
}

.shop-view {
    width: calc(100% - 250px);
}

#shop-image {
    width: 100%;
    height: 370px;
    min-width: 300px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
}

#shop-image img {
    min-width: 200px;
}

.box-7 {
    padding: 50px 70px;
    max-width: 700px;
}

.box-7 p {
    padding: 0;
    width: 70%;
    color: var(--color1);
}

/* Summary */
.summary {
    height: 340px;
    text-align: center;
}

.summary i {
    padding: 20px;
}

.summary .container {
    max-width: 1100px;
}

.summary-box {
    height: 340px;
}

.summary i {
    color: var(--main-pastel);
}

/* Categories */
.categories {
    width: 100%; 
}

.category {
    width: 100%;
    height: 530px;
    background-color: var(--bg-color-4);
    position: relative;
}

.category img {
    width: 260px;
}

.category p {
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 1.4rem;
}

/* Banner1 */
.banner1 {
    margin-top: 74px;
    width: 100%;
}

.banner1-container {
    height: 710px;
    display: flex;
    flex-direction: row-reverse;
}

.product-container {
    background-color: var(--bg-color-4);
    width: 100%;
    height: 710px;
    margin: 0 auto;
}

.product {
    text-align: center;
}

.banner1 img {
    width: 70%;
}

/* Banner2 */
.banner2 {
    position: relative;
    margin-top: 74px;
    height: 528px;
    overflow: hidden;
}

.banner2 .message {
    position: absolute;
    top: 25%;
    left: 17.33%;
    text-align: center;
}

.banner2 h3 {
    padding: 12px 0;
}

.inner-box {
    padding: 10px;
    border: 1px solid var(--shadow-color);
    height: 250px;
    width: 400px;
    border-radius: 10px;
}

/* Review */
.review {
    height: 520px;
    background-color: var(--main-bg-color);
    font-size: 1.5rem;
    position: relative;
}

.review span {
    font-size: 1.1rem;
}

.review img {
    width: 160px;
    margin: 0;
    padding: 0;
}

.review p {
    padding: 0;
    margin: 0;
}

.left-arrow, .right-arrow {
    position: absolute;
}

.left-arrow a, .right-arrow a {
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--main-bg-color);
}

.left-arrow {
    left: 5%;
}

.right-arrow {
    right: 5%;
}

.dots {
    display: none;
}

/* Community */
.community {
    margin: 50px 0;
    position: relative;
}

.community::before {
    content: "The 4moms community";
    position: relative;
    font-size: 1.5rem;
    left: calc(50% - 120px);
    top: -40px;
    text-align: center;
}

.community .plus {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    font-size: 2rem;
    position: relative;
    left: 50%;
    bottom: -40px;
}

.community p a {
    color: var(--main-bg-color);
}

/* Stat */
.stat {
    margin-top: 104px;
    text-align: center;
    height: 518px;
    background-color: var(--bg-color-4);
}

.stat h1 {
    font-size: 30px;
}

.column {
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.description {
    padding: 0 100px;
    width: 60%;
    padding: 0 auto;
    margin: 0 auto;
    min-height: 100px;
}

.stat .button {
    width: 270px;
}

.icons {
    margin-top: 30px;
    height: 150px;
}

.icon {
    padding: 20px 80px;
}

.icon i {
    padding: 15px;
    color: var(--main-pastel);
}

/* Award */
.awards {
    height: 170px;
}

.award {
    width: 130px;
    margin: 0 20px;
}

/* Footer */
.footer {
    background: var(--main-color);
    color: var(--main-bg-color);
}

.footer-contact {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    height: 300px;
    min-width: 300px;
    padding: 10px;
}

.footer-categories {
    width: 100%;
    padding: 0 20px;
}

.footer h4 {
    font-weight: 900;
    font-size: 1.2rem;
}

.footer li {
    padding: 7px 0;
    font-size: 16px;
}

.footer .container {
    padding-top: 70px;
}

.footer img {
    width: 200px;
}

.footer .input {
    background-color:  var(--bg-color-1);
    width: 100%;
    height: 50px;
    justify-content: left;
}

.footer [type=text] {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid var(--main-bg-color);
    
    background-color: var(--main-color);
}

.footer [type=submit] {
    font-size: 1.1rem;
    height: 100%;
    color: var(--main-bg-color);
    background-color: var(--main-color);
    border: none;
    padding: 10px;
    border-bottom: 1px solid var(--main-bg-color);
}

.footer .arrow-submit {
    background-color: var(--main-color);
    padding: 10px;
    font-size: 1.7rem;
    vertical-align: center;
    border-bottom: 1px solid var(--main-bg-color);
}

.social i {
    padding-right: 30px;
}

.credit {
    justify-content: left;
}

.credit p {
    padding: 0px 10px;
}

@media (max-width: 1235px) {
    .banner2 {
        grid-template-columns: 1fr;
        min-height: 750px;
    }

    .banner2 img {
        width: 500px;
        justify-self: center;
    }

    .banner2 .message {
        justify-self: center;
        top: 55%;
        left: initial;
    }

    .banner2 img:nth-child(2) {
        display: none;
    }

    .footer-categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1075px) {
   #main-menu, #account2 {
        display: initial;
    }

    #shop, #about_4moms, #account, #support, #country {
        display: none;
    }

    .navbar li {
        padding: 0 3rem;
        margin: 0;
    }

    .left-nav ul {
        justify-content: flex-start;
    }

    .right-nav ul {
        justify-content: flex-end;
    }

    /* Showcase */
    .showcase {
        z-index: 10;
        padding: 0;
        width: 100%;
    }

    .showcase-container {
        display: initial;
        height: 650px;
    }

    .showcase-text {
        min-height: 380px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .shop-container {
        justify-content: center;
        margin: 0;
        padding: 0;
        min-height: 600px;
        width: 100%;
    }

    #shop-left {
        width: 0px;
    }

    #shop-view {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .box-7 {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    #shop-image {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #shop-image img {
        padding: 0;
        margin: 0;
    }
    .chair {
        height: 450px;
        width: 450px;
        padding: 0;
        margin: 0 auto;
    }

    .chair img {
        /* padding: 0 auto;
        margin: 0 auto; */
        position: initial;
        width: 100%;
        margin: 0;
    }

    .summary {
        z-index: 20;
        position: relative;
        background-color: var(--main-bg-color);
    }
}

@media(max-width: 850px) {
    .categories .container {
        display: initial;
    }

    .category {
        margin-bottom: 5px;
        height: 350px;
    }

    .category p {
        position: initial;
        font-size: 2rem;
    }

    .category p span {
        font-size: 4rem;
        padding: 2rem;
    }

    .category img {
        width: 180px;
    }

    .banner1 {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .banner1-container {
        height: 100%;
        display: initial;
    }

    .banner1 img {
        justify-self: center;
    }

    #baby {
        width: 100%;
    }

    .product-container {
        background-color: var(--main-bg-color);
    }

    .review .box-5 {
        height: 400px;
    }

    .review .box-6 {
        height: 200px;
        width: 85%;
    }
    
    .stat {
        height: 400px;
    }

    .stat .icons {
        display: none;
    }

    .description {
        width: 80%;
    }
    .category-container {
        display: initial;
    }

    .footer-contact {
        width: 300px;
        margin: 0 auto;
    }

    .footer-container {
        padding-top: 0;
    }
}

@media (max-width: 625px) {
    .navbar li {
        margin: 0;
        padding: 0;
    }

    .navbar ul {
        justify-content: space-around;
    }
    
    .summary {
        height: 100%;
    }

    .summary .container {
        grid-template-columns: 1fr;
    }

    .review {
        padding-top: 0px;
        font-size: 1.2rem;
    }

    .left-arrow, .right-arrow {
        display: none;
    }

    .dots {
        display: initial;
    }

    .credit {
        display: initial;
    }

    .footer-categories {
        grid: initial;
    }

    footer .credit {
      display: inline-block;
    }
}

@media (max-width: 530px) {
    .description {
        width: 100%;
    }

    .categories, .categories .container {
        width: 100%;
    }

    .category {
        height: 200px;
        width: 100%;
    }
    .category p {
        font-size: 1.2rem;
    }

    .category p span {
        font-size: 2rem;
        padding: 0 2rem;
    }

    .category img {
        width: 80px;
    }

    .chair {
        width: 310px;
        height: 210px;
    }
}

@media (max-width: 440px) {
    #logo {
        width: 100px;
    }

    .review .box-5 {
        height: 410px;
    }

    .review .box-6 {
        height: 350px;
        height: 80%;
        width: 95%;
    }

    .description {
        width: 90%;
        padding: 0 15px;
    }
}
